.edit_form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background: black;
}

.id_input{
    margin-top: 5px;
    margin-bottom: 10px;
    background: lightgray;
}

.title_input {
    margin-top: 5px;
    margin-bottom: 10px;
    background: lightgray;
}

.content_input {
    margin-bottom: 10px;
    background: lightgray;
}

.submit_btn {
    border: 1px solid green;
    width: 30%;
    margin-bottom: 15px;
}

.submit_btn:hover {
    background-color: lightgreen;
    cursor: pointer;
}