.create_post_form{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background: black;
}
.input_title{
    margin-top: 5px;
    margin-bottom: 10px;
    background: lightgray;
}
.input_content{
    margin-bottom: 10px;
    background: lightgray;
}
.submit_btn{
    border: 1px solid green;
    width: 15%;
}
.submit_btn:hover{
    background-color: lightgreen;
    cursor: pointer;
}