.dashboard{
    margin: 0 auto;
    min-width: 30%;
    max-width: 30%;
    min-height: 50vh;
    border: 2px solid green;
    box-shadow: 10px 10px 10px black ;
    border-radius: 15px;
background-color: rgb(34, 36, 37);
}
.logout{
    max-width: 100px;
    border: 1px solid green;
    border-top: none;
    border-radius: 5px;
    margin-top: -20px;
}
.logout:hover{
background-color: lightgreen;
color:blue;
cursor: pointer;
}
.get_users_btn{
    border: 2px solid green;
    margin: 5px 0 15px 0;
}
.get_users_btn:hover{
    background-color: lightgreen;
    color: blue;
    cursor: pointer;
}
.block_title{
  font-size: 50px;
}
.token_vindow_btn{
    font-size: 15px;
    margin: 0 auto;
    width: 150px;
    border: 1px solid green;
    border-radius: 10px;
}
.token_vindow_btn:hover{
    background-color: lightgreen;
    color:blue;
    cursor: pointer;
}